body{
    display:flex;
    flex-direction:column;
    font-family:"Roboto",sans-serif;
    background-color: #e0e0e0;
}

nav{
    width:100%;
    height:50px;
    display:flex;
    justify-content: space-between;
}

.nav-bar{
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 12px;
    }

li{
    margin: 15px 5px;
}

.logo{
    height: 30px;
    margin: 15px 30px;
}

header{
    width: 100%;
    height: 50px;
    background-color: rgb(113,74,145);
}

section{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items:center;
    justify-content:center;
      flex-wrap: wrap;
      padding: 40px 0 0 0;
}

.col{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    justify-content:space-between;
}

.row{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    justify-content:space-evenly;
}

.about-me{
    width: 300px;
     margin: 5px;
     display: flex;
     justify-content: space-evenly;
}

.info{
    max-width: 300px;
    margin: 30px;
}

#main{
    box-shadow: 2px 2px 5px grey;
}

.hero{      
    width: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    }

.hero-info{
    margin: 30px;
    justify-content: center;
    background-color: #e0e0e0;
}

.hero-image{
    height: 300px;
    width:50vw;
    margin: 30px;
}

@media only screen and (max-width: 700px) {
    .hero-info{
        max-width: 700px;
        width: 100vw;
        margin: 30px 5px 15px 50px;
    }

    .hero-image{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
}

.styled-break {
    width: 30px;
    height: 5px;
    background-color: #a17df4;
    border-radius: 2.5px;
    margin: 30px 0 30px 0;
}

.avatar{
    width: 100px;
    height:100px;
    border-radius: 50px;
}

#name{
    font-size:45px;
}

.test{
    width: 30px;
    height: 30px;
    background-color:red;
    margin: 5px;
}

.button {
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ef866c;
    width: 80px;
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center; 
    cursor: pointer;
}

.button:hover {
    background-color: #ef744b;
}

.button:active{
    box-shadow: inset -2px -2px 3px rgba(255,255,255, 0.6)
}

form{
    margin: 0 0 40px 0;
}

.input-section{
    margin: 10px 0;
    display: flex;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;
}

footer{
    font-family:Arial,Helvetica,sans-serif;
    display: flex;
    justify-content: center;
    background-color: aqua;
}

@media only screen and (min-width: 700px) {
    /* min-width is used for mobile first design
    * max-width is used for web first design
    */
    footer{
          background-color: #e0e0e0;
    }
}

.far {
    margin: 3px;
}

a {
    text-decoration:none;
    color: black;
}

a:hover{
    color:orangered;
}